@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:ital@1&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:ital@1&family=Sacramento&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}
/* -----------------------header start------------------------- */
@media (max-width:640px) {
    .slide-headline {
        font-size: 2em;
        padding-bottom: 7.425%;
    }
    .button {
        font-size: 3em;
    }
    .header-page {
        display: block;
        float: left;
        margin-right: 2.01406%;
        width: 85.42656%;
        margin-left: 7.28672%;
        margin-top: 3.7125%;
        margin-bottom: 1.85625%;
    }
    .header-page h1 {
        font-size: 2em;
        padding-bottom: 7.425%;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width:641px){
    .header-page {
        font-size: 26px;
    }
}
/*-------------------------------Header mobile start------------------------------*/
.header-mobile {
    background-color: transparent;
    overflow: hidden;
}
#checkbox:checked ~ .tses ul {
    display: block;
}
#checkbox:checked ~ .tses {
    display: block;
}
.tses {
    width: 100%;
    height: 80px;
    text-align: center;
}
.logo .tses ul li {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    line-height: 2em;
    display: flex;
    justify-content: center;
    list-style: none;
}
.tses ul li a {
    letter-spacing: .1em;
    text-decoration: none;
    color: #444;
}
.tses {
    display: none;
}
#checkbox {
    display: none;
}
@media (max-width:1023px) {
    .main-menu {
        display: none !important;
    }
}
@media (min-width:1024px) {
    .header-mobile {
        display: none !important;
    }
    
}
/*-------------------------------Header desktop start------------------------------*/
.main-zurag {
    background-image: url(https://cdn.shopify.com/s/files/1/0261/4687/t/7/assets/img_homepage_slider1.jpg?v=839847293968337857);
    background-size: cover;
    background-position: top center;
    height: 525px;
    background-position-y: 0px;
    overflow: hidden;
}
.container {
    background-color: transparent;
    height: 80px;
}
.main-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu ul li {
    display: inline-block;
    padding: 10px;
}
.main-menu ul .ontsgoi  {
    border-bottom: 1px solid #fff;
}
.main-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}
.main-menu ul li a:hover {
    color: #f15a22;
}
.slide-text {
    padding-top: 180.813px;
    text-align: center;
}
.slide-text h1 {
    display: inline-block;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #fff;
    letter-spacing: .05em;
    font-style: italic;
    font-family: 'Playfair Display SC', serif;
    font-size: 56px;
    padding-bottom: 20px;
    letter-spacing: .05em;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
}
.slide-text p {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
}
@media (max-width:640px) {
    .container {
        display: none !important;
    }
}
@media (max-width:1024px) {
    .slide-text h1 {
        font-size: 38px;
    }
    .slide-text p {
        font-size: 30px;
    }
}
/* -----------------------main start------------------------- */


/* -----------------------page-2 start------------------------- */
.wrapper {
    min-height: 525px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header-page {
    display: block;
    float: left;
    margin-right: 2.01406%;
    width: 56.27969%;
    margin-left: 21.86016%;
    margin-top: 3.7125%;
    margin-bottom: 1.85625%;
    text-align: center;
}
.logotype-small {
    display: block;
    font-weight: 400;
    letter-spacing: .5em;
    font-size: 75%;
    font-family: 'Playfair Display SC', serif;
    font-style: normal;
}
.header-page h1 {
    color: #1d1a19;
    border-bottom: 1px solid #49423b;
    display: inline-block;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: .05em;
    font-style: italic;
    margin-bottom: .5em;
}
.header-page p {
    color: #1d1a19;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.16667rem;
    font-family: Arial, Helvetica, sans-serif;
} 
/* -----------------------header-page finished------------------------- */

/* -----------------------page-3 start------------------------- */


@media (max-width:640px) {
    .page-2-cont {
        display: grid;
        grid-template-columns: 250px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .child-2 .page-2-img {
          
    }
    .child-2 .page-2-img img {
        width: 250px;
        object-fit: contain;
    }
    .page-2-hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        text-align: center;
    }
    .page-2-hover h2 {
        font-size: 20px;
        padding-bottom: 8%;
        border-bottom: 1px solid #c7c7c7;
        display: inline-block;
        font-family: "Playfair Display SC",serif;
        font: inherit;
        font-size: 26px;
    }
    .page-2-hover p {
        font-family: 'Sacramento', cursive;
        font-size: 26px;
        font-weight: normal;
    }
}
@media (min-width:641px) {
    .page-2-cont {
        width:100%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .child-2 .page-2-img {
        position: relative;
        width: 100%;  
    }
    .child-2 {
        width: 100%;
        position: relative;
    }
    .page-2-hover {
        width: 60%;
        height: 50%;
        background-color: rgba(29,26,25,.6);
        border-radius: 50%;
        position: absolute;
        top: 1%;
        left: 1%;
        right: 1%;
        bottom: 1%;
        display: none;
        margin: auto;
    }
    .page-2-img:hover ~ .page-2-hover {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 25px;
        gap: 15px;
        transition: all 5s;
    }
    .page-2-hover:hover {
        cursor: pointer;
    }
    .page-2-hover h2 {
        color: white;
        font-size: 22px;
        font-family: "Playfair Display SC",serif;
        font: inherit;
    }
    .page-2-hover .zuraas {
        width: 90%;
        height: 2px;
        background-color: #fff;
    }
    .page-2-hover p {
        font-family: 'Sacramento', cursive;
        font-size: 18px;
        color: #f15a22;
    }
    .child-2 .page-2-img img {
        width: 100%;
        object-fit: contain;
    }
    /* .last-change {
        width: 200px;
        object-fit: contain;
    } */
}
.divider {
    background-image: url(https://cdn.shopify.com/s/files/1/0261/4687/t/7/assets/img_homepage_divider.jpg?v=10908527258020221636);
    min-height: 426.66px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 100%;
    background-size: cover;
}
/* ------------------------about ehlel ---------------------------*/
.about {
    padding-top: 3.7125%;
    padding-bottom: 7.425%;
    background-color: #f4efde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.header-page {
    display: block;
    float: left;
    margin-right: 2.01406%;
    width: 56.27969%;
    margin-left: 21.86016%;
    margin-top: 3.7125%;
    margin-bottom: 1.85625%;
    text-align: center;
}
.logotype-small {
    display: block;
    font-weight: 400;
    letter-spacing: .5em;
    font-size: 65%;
}
@media (max-width:640px) {
    .about-item-wrapper {
        text-align: center;
        padding: 0 30px;
        display: grid;
        grid-template-columns: auto;
        overflow: hidden;
        display: block;
    }
    .about-item-wrapper .about-it {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-item-wrapper .about-it img {
        width: 50%;
        object-fit: contain;
    }
    .about-item-wrapper h3 {
        border-bottom: 1px solid #444;
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 7.25%;
        font-family: 'Playfair Display SC', serif;
        font-size: 24px;
    }
    .about-item-wrapper p {
        font-size: 14px;
        font-family: 'Alice', serif;
        padding-bottom: 10%;
        padding-top: 5%;
        width: 300px;
    }
}
@media (min-width:641px) {
    .header-page {
        display: block;
    }
    .header-page b {
        font-size: 16px;
    }
    .header-page h1 {
        font-size: 34px;
    }
    .header-page p {
        font-size: 18px;
    }
    .about-item-wrapper {
        width: 100%;
        text-align: center;
        padding: 0 30px;
        overflow: hidden;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-item-wrapper .about-it {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-item-wrapper .about-it img {
        width: 50%;
        object-fit: contain;
    }
    .about-item-wrapper h3 {
        border-bottom: 1px solid #444;
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 7.25%;
        font-family: 'Playfair Display SC', serif;
        font-size: 30px;
    }
    .about-item-wrapper p {
        font-size: 18px;
        font-family: 'Alice', serif;
        padding-bottom: 10%;
        padding-top: 5%;
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media (max-width:640px) {
    .about-item-wrapper p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
    }
}
/* -----------------------page-4 start------------------------- */
.oroolt {
    background-image: url(https://cdn.shopify.com/s/files/1/0261/4687/t/7/assets/img_homepage_footer.jpg?v=5164167556579775996);
    min-height: 320px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/* -----------------------footer start------------------------- */
.contact {
    background-color: #dba539;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
}
.zurag {
    display: flex;
    justify-content: center;
}
.zurag img {
    object-fit: contain;
    width: 200px;
    height: 200px;

}
.heregluur {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    overflow: hidden;
}
.heregluur i {
    color: #fff;
}
.para p {
    font-family: "Playfair Display SC",serif;
    text-align: center;
    margin-top: 50px;
    font-size: 1.16667rem;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
}
.suuliih {
    background-color: #805f1e;
    height: 50px;
}
.suuliih p {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    letter-spacing: .1em;
    font-family: "Playfair Display SC",serif;
    font-size: 85%;
}
@media (max-width:640px) {
    .contact .para p {
        font-size: 10px;
    }
}