.Admin {
    /* box-sizing: border-box;  */
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    /* justify-content: center; */
    /* align-items: center; */
}

